@model studentmanagement.Models.Registrartion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registrartion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FisrtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FisrtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courseid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courseid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batchid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batchid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
